body {
    background-color: #FFC107;
  }
  
  .container {
    text-align: center;
    margin-top: 50px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
  }
  
  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .square-btn,
  .circle-btn,
  .triangle-btn {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
    text-align: center;
  }
  
  .square-btn:hover,
  .circle-btn:hover,
  .triangle-btn:hover {
    background-color: #FF5733;
    cursor: pointer;
  }
  
  .square-btn {
    width: 200px;
    height: 200px;
    border-radius: 10px;
  }
  
  .circle-btn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .triangle-btn {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid #333;
  }
  
  .square-btn p,
  .circle-btn p,
  .triangle-btn p {
    font-size: 22px;
    font-weight: bold;
  }
  